
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




body {
    background-color: black;
    border: 3px;
    border-color: black;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(StockCake-Crimson\ Ink\ Dance_1740799973.jpg);
    background-position: center;
    background-size: contain;
    
    
    
    

}
img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
a {
    color:gold;
    text-decoration: none;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;

}
.navbar ul li {
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: red;
}


.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 0;
    color: white;
    justify-content: center;
    text-align: center;
    
    
}


.home-info {
    text-align: center;
    margin-top: 20vh;
    max-width: 900;
    width: 90%;
    align-items: center;
    justify-content: center;

    
}
.home-info h1 {
    font-size: 55px;
    color:gold;
   
}
.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
    color: gold;
}

.home-info p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    color: gold;
}
  
.home-info .btn-sci {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background:red;
    border: 2px solid red;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
    color: gold;
    font-weight: 600;
    transition: .5s;
}


.ntm:hover {
    background: transparent;
    color: black;
    box-shadow: none;
}
.home-info .btn-sci .sci {
    margin-left: 20px;
    

}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color:gold;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover {
    background: red;
    color: black;
    box-shadow: 0 0 10px;
}


    
